@media screen and (min-width: 767px) {
  // Show the sidebar at 767px
  .custom-sidebar {
    &.sidebar-left .contents > .topic-list {
      grid-template-columns: 20% 78%;
      @media screen and (max-width: 900px) {
        grid-template-columns: 25% 73%;
      }
      grid-template-areas:
        "sidebar head"
        "sidebar body";
    }
    &.sidebar-right .contents > .topic-list {
      grid-template-columns: 78% 20%;
      @media screen and (max-width: 900px) {
        grid-template-columns: 73% 25%;
      }
      grid-template-areas:
        "head sidebar"
        "body sidebar";
    }
    .contents > .topic-list {
      display: grid;
      grid-column-gap: 2%;
      align-items: start;
      grid-template-rows: 50px auto;

      .topic-list-header {
        grid-area: head;
        display: table;
        align-self: end;
        width: 100%; // Safari
      }
      > .category-sidebar {
        overflow: hidden;
        display: flex;
        margin-top: 15px;
        grid-area: sidebar;
        order: 3;
        padding: 0;
        position: relative;
        max-height: calc(100dvh - var(--header-offset) - 2em);
        @if $stick-on-scroll == "true" {
          position: sticky;
          overflow-y: auto;
          top: calc(var(--header-offset) + 1.5em);
        }
        .cooked {
          .loading-container {
            width: 100%;
          }

          img,
          video,
          iframe {
            width: 100%;
            height: auto;
          }
          img.emoji {
            width: 20px;
          }
          ul,
          ol {
            padding-left: 30px;
          }
          > *:first-child {
            // remove margin from first element, for top alignment
            margin-top: 0 !important;
          }
        }
      }
      .sticky-sidebar {
        width: 100%;
      }
      .topic-list-body {
        grid-area: body;
        display: table;
        width: 100%;
      }
    }
  }
}

.custom-sidebar {
  #list-area .show-more.has-topics .alert {
    // New topic notification needs to be narrower
    box-sizing: border-box;
    width: 78%;
    @media screen and (max-width: 900px) {
      width: 73%;
    }
  }

  &.sidebar-left {
    #list-area .show-more.has-topics {
      display: flex;
      justify-content: end;
    }
  }
}
